:root
{
    font-size: 16px;
    font-family: 'Montserrat';
    
    --main-color: #272932;
    --main-color-warm: #353b4a;
    --main-contrast: #E7ECEF;
    --main-contrast-darker: #ccd2d7;
    --secondery-color:#0F7173;
    --third-color: #F05D5E;
    --forth-color:#D8A47F;
}

body
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--main-contrast);
    overflow: hidden;
}

ul 
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a 
{
    color: currentColor;
    text-decoration: none;
}

h1
{
    font-size: 3em;
    color: var(--third-color);
}

h3
{
    font-size: 1.5em;
}

h4
{
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

p
{
    font-size: 1.4em;
}

.navbar
{
    min-height: 8%;
    width: 100%;
    background: var(--main-color);
    color: var(--main-contrast);
}

.navbar-nav
{
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: start;
}

.container 
{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.container-section
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.first-container-section
{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    scroll-snap-align: start;
}

.first-container-div
{
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page-picture
{
    height: 100%;
    width: 100%;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    object-fit: cover;
    overflow: hidden;
}

.dropdown
{
    position: absolute;
    left: 0;
    height: 150px;
    opacity: 0;
    z-index: -1;

    background: var(--main-color);
    border-top: 2px solid var(--main-contrast);
    border-bottom-right-radius: 8px;;

    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 8rem;
    padding: 0.8rem;

    box-shadow: rgb(2, 8, 20) 0px 0.175em 0.5em;
    transform: translateY(20px);

    transition: opacity .15s ease-out;
}

.has-dropdown:focus-within .dropdown
{
    opacity: 1;
    pointer-events: auto;
    z-index: 2;
}

@keyframes slide-in-from-top
{
    0% {transform: translateY(-10vh); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}

@keyframes slide-in-from-right
{
    0% {transform: translateX(-10vw); opacity: 0;}
    100% {transform: translateX(0); opacity: 1;}
}

.slide-from-top
{
    animation: 1s ease-out 0s 1 slide-in-from-top;
}

.slide-from-left
{
    animation: 1s ease-out 0s 1 slide-in-from-left;
}

.box
{
    position: absolute;
    width: 30%;
    height: 20%;
    background: var(--main-color);
    color: var(--main-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
}

.logo
{
    background: url("Images/logo.png") no-repeat;
    background-size: 50px, 50px;
    height: 50px;
    width: 50px;
}

.logo:hover {
    background: url("Images/logo\ shut.png") no-repeat;
    background-size: 50px, 50px;
    height: 50px;
    width: 50px;
}

.about-studio-div
{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    color: var(--main-contrast);
}

.about-studio-image-div
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-studio-image
{
    height: 80%;
    width: 80%;
    border-radius: 15px;
}

.about-studio-text-div
{
    height: 100%;
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 5%;
    font-size: 1vw;
}

.about-studio-paragraph
{
    text-align: justify;
}

#featured-work
{
    margin: 0;
}

.featured-work-div
{
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--forth-color);
}

.featured-work-image
{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    object-fit: cover;
    overflow: hidden;
}

.featured-button
{
    font-size: 1.5em;
    background: var(--main-color);
    border-radius: 8px;
    opacity: 0;

    transition: all 0.35s ease-out;
}

.featured-work-div:hover .featured-button
{
    opacity: 1;
}

.featured-button:hover
{
    border-radius: 30px;
    background: var(--secondery-color);
}

.featured-work-right-side
{
    width: 30%;
}

.contact-us-parent
{
    background: var(--main-color);
    animation-name: starAnimation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.contact-details-div
{
    height: 80%;
    width: 30%;
    padding: 2%;
    display: flex;
    align-items: top;
    justify-content: left;
    flex-direction: column;
    overflow-y: auto;
    row-gap: 1%;
    background: #5f707d;
    border-radius: 25px;

}

@keyframes starAnimation 
{
    0%{ background-image: url("Images/Stars/Stars2.png")}
    30%{ background-image: url("Images/Stars/Stars5.png")}
    60%{ background-image: url("Images/Stars/Stars1.png")}
    80%{ background-image: url("Images/Stars/Stars4.png")}
    100%{ background-image: url("Images/Stars/Stars3.png")}
}

.contact-us-title
{
    margin: 0;
    text-align: center;
    text-decoration: underline;
    color: var(--main-color);
}

.contact-send-div
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.contact-button
{
    display: flex;
    position: relative;
    background: var(--main-color);
    height: 130%;
    transform: translateX(115%);
    margin-top: 2%;
    transition: all 0.35s ease-out;
}

.contact-button:hover
{
    background: #444653;
}

.contact-us-text-area
{
    width: 100%;
    padding: 6px 20px;
    margin: 8px 0;
    resize: none;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text], select
{
    width: 100%;
    padding: 6px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#contact-us
{
    margin: 0;
}

.footer-information
{
    height: 40vh;
    width: 100vw;
    display: flex;
    scroll-snap-align: start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info-div
{
    margin-right: 20px;
    height: 100%;
    width: 100%;
}

.text-info-div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-info-text
{
    margin-right: 30px;
    margin-left: 30px;
}

.google-map
{
    border: 0px;
    height: 100%;
    width: 100%;
}

.feature-first-div
{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.feature-left-div
{
    width: 33%;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    background: var(--main-color-warm);
    animation-name: starAnimation;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    background-image: url("Images/Stars/Stars2.png");
}

.feature-left-title
{
    text-align: right;
    margin: 20px;
    background: #272932d6;;
}

.feature-right-div
{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background: var(--main-contrast);
    overflow: auto;
}

.feature-right-images
{
    width: 70%;
    height: 70%;
    padding-left: 1%;
    object-fit: cover;
    min-width: 70%;
    transition: transform .3s ease-out;
}

.feature-right-images:hover
{
    transform: translate(0, -10px);
}

.feature-right-images:last-child
{
    padding-right: 1%;
}

.about-us-div-parent
{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.about-us-title-div
{
    display: flex;
    align-items: center;
    height: 15%;
    background-color: var(--main-contrast)
}

.about-us-lower-div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85%;
    background-color: var(--main-contrast);
}

.about-us-pic-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us-title
{
    margin: 0;
    padding: 0;
    margin-left: 2%;
}

.about-us-pic
{
    width: 45%;
    border-radius: 8px;
    box-shadow: 0px 10px 10px;
    transition: transform .3s ease-out;
}

.about-us-pic:hover
{
    transform: translate(0, -10px);
}